<div class="login-inter">
    <div class="row ">
        <nb-card style="width: 400px" [nbSpinner]="loading" nbSpinnerStatus="success">
            <nb-card-header>User Login</nb-card-header>
            <nb-card-body>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="email" class="label">Email</label>
                            <input type="text" name="email" [(ngModel)]="user.email" nbInput fullWidth id="email"
                                placeholder="Email">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="password" class="label">Password</label>
                            <input type="password" name="password" [(ngModel)]="user.password" nbInput fullWidth
                                id="password" placeholder="Password">
                        </div>
                    </div>
                </div>
            </nb-card-body>

            <nb-card-footer>
                <button type="button" (click)="login(user)" nbButton>Login</button>
            </nb-card-footer>
        </nb-card>
    </div>
</div>