<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Add Game</nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="title" class="label">Title</label>
              <input type="text" nbInput fullWidth id="title" placeholder="Game Title">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="description" class="label">Game Description</label>
              <textarea type="text" nbInput fullWidth id="description" placeholder="Game Description"> </textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="company" class="label">Company</label>
              <input type="text" nbInput fullWidth id="company" placeholder="Company">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="price" class="label">Price</label>
              <input type="text" nbInput fullWidth id="price" placeholder="Price">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="category" class="label">Category</label>
              <nb-select fullWidth selected="Sports">
                <nb-option value="Sports">Sports</nb-option>
                <nb-option value="Fire">Fire</nb-option>
              </nb-select>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="rating" class="label">Rating</label>
              <input type="text" nbInput fullWidth id="rating" placeholder="Rating">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="downloads" class="label">Downloads</label>
              <input type="text" nbInput fullWidth id="downloads" placeholder="Downloads">

            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="age" class="label">Age</label>
              <input type="number" nbInput fullWidth id="age" placeholder="Age">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="anurl" class="label">Android URL</label>
              <input type="text" nbInput fullWidth id="anurl" placeholder="Android URL">

            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="apurl" class="label">Apple URL</label>
              <input type="text" nbInput fullWidth id="apurl" placeholder="Apple URL">
            </div>
          </div>
        </div>

        <div class="validation-checkboxes">
          <nb-checkbox status="success">Trending</nb-checkbox>
          <nb-checkbox status="warning">Top</nb-checkbox>
          <nb-checkbox status="danger">Suggestion</nb-checkbox>
        </div>
      </nb-card-body>

      <nb-card-footer>
        <button type="submit" nbButton>Submit</button>
      </nb-card-footer>
    </nb-card>
  </div>
</div>