<div class="row">
  <div class="col-md-12">
    <nb-card [nbSpinner]="loading" nbSpinnerStatus="success">
      <nb-card-header>Add Category</nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="name" class="label">Name</label>
              <input type="text" name="name" [(ngModel)]="category.name" nbInput fullWidth id="name" placeholder="Name">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="description" class="label">Description</label>
              <textarea type="text" name="description" [(ngModel)]="category.description" nbInput fullWidth
                id="description" placeholder="Description"> </textarea>
            </div>
          </div>
        </div>
      </nb-card-body>

      <nb-card-footer>
        <button type="button" (click)="add(category)" nbButton>Submit</button>
      </nb-card-footer>
    </nb-card>
  </div>
</div>