<div class="row">
  <div class="col-md-12">
    <nb-card [nbSpinner]="loading" nbSpinnerStatus="success">
      <nb-card-header>Add User</nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="name" class="label">Name</label>
              <input type="text" name="name" [(ngModel)]="user.name" nbInput fullWidth id="name" placeholder="Name">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="email" class="label">Email</label>
              <input type="text" name="email" [(ngModel)]="user.email" nbInput fullWidth id="email" placeholder="Email">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="password" class="label">Password</label>
              <input type="password" name="password" [(ngModel)]="user.password" nbInput fullWidth id="password"
                placeholder="Password">
            </div>
          </div>
        </div>
      </nb-card-body>

      <nb-card-footer>
        <button type="button" (click)="add(user)" nbButton>Submit</button>
      </nb-card-footer>
    </nb-card>
  </div>
</div>